body {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-weight: 20px;
  font-style: normal;
}

/* сброс стилей */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1052px;
  min-width: 1000px;
  margin: auto;
}

.content-section_theme_white {
  color: white;
  background-color: #24a943;
}

.content-section_theme_img {
  color: white;
  /* background-color: yellow; */
}

/* вся шапка */
.header {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px;
  color: #000; 
  background-color: white;; /* ПРОСТО ДЛЯ ОТЛАДКИ, НЕ ЗАБУДЬ УДАЛИТЬ*/
}

/* контейнер навигации */
.header__menu{
  flex-grow: 0;
}

/* список ссылок */
.header__links-list{
  display: flex;
  gap: 30px;
}

/* пункт списка ссылок */
.header__links-list-item{
  list-style: circle;
}

/* сделать ссылку без кружочка перед ней */
.header__links-list-item_no-bullit{
  list-style: none;
}

/* контейнер логотипа */
.header__logo {
  display: block;
  justify-self: center;
}

/* картинка с логотипом */
.header__logo-image {
  width: 148px;
  height: 105px;
}

/* ссылка */
.header__link{
  text-decoration: none;
  border-bottom: 1px solid;
}

/* активная ссылка */
.header__link_active{
  border-bottom: none;
}

/* контейнер с адресом */
.address{
  max-width: 240px;
  font-style: normal;
  line-height: 1.35em;
}

/* чтобы выравнивать блок с адресом */
.header__address{
  justify-self: right;
}

/* первая секция */
.cover{
  color: #FFF;
  position: relative;
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Предотвращает растягивание, сохраняя пропорции и заполняя блок */
  text-transform: uppercase;
  /* padding: 165px 50px 50px 50px; */
}

/* полупрозрачный блок поверх секции cover */
.overlay {
  position: absolute;
  opacity: 0.6;
  background: #000;
  z-index: 0;
  inset: 0;
}

/* заголовок */
.cover__title{
  position: relative;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; 
  letter-spacing: 0.3em;
  padding: 165px 50px;
  z-index: 1;
}

/* классы для выравнивания строк текста и превращения их в блочный элемент */
.accent-spane{
  display: block;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

/* класс для управления межбуквенным расстоянием в местах, где есть эти акценты */
.letter-spacing-extended{
  letter-spacing: 0.6px;
}

/* класс для обнуления общего межбуквенного расстояния для последней буквы */
.no-letter-spacing{
  letter-spacing: initial;
}

/* контейнер для подзаголовка и кнопки */
.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 49px 48px 80px;
}

/* текст подзаголовка */
.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127.273%;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 17px;
}

/* кнопка «Сделать ставку» */
.bet-button{
  background: transparent;
  position: relative;
  border: 1px solid;
  z-index: 1;
  font-weight: 500px;
  color: #FFF;
}

/* вся секция */
.lots{
  padding: 163px 33px 174px 33px;
}

/* заголовок секции */
.lots__heading{
  padding: 0 0 27px 37px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

/* список карточек */
.lots__card-list{
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  list-style: none;
}

/* пункт списка карточки */
.lots__card-list-item{
  flex-grow: 1;
  width: 328px;
  min-width: 554px;
}

/* ссылка, обрамляющая карточку */
.card-link{
  height: 100%;
}

/* карточка */
.card{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* классы, чтобы задать определённый фон каждой из карточек */
.card_type_film{
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book{
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture{
  background-image: url("../images/card-lot-03.jpg");
}

/* заголовок карточки */
.card__title{
  position: relative;
  padding: 48px 35px 0 39px;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
  color: white;
}

/* текст карточки */
.card__text{
  bottom: 0;
  padding: 0 35px 46px 39px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  z-index: 1;
  color: white;
}

/* ссылка "Посмотреть больше" */
.lots__look-more-link{
  font-size: 20px;
  display: block;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid;
  margin: 29px 0 39px;
  max-width: fit-content;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

/* вся секция */
.about{
  display: grid;
  column-gap: 25px;
  padding: 0 21px 178px 33px;
  grid-template-columns: 328px auto;
}

/* класс для колонок */
.about__column{
  color: black;
} 

/* контейнер с логотипом */
.about__logo{
  justify-self: center;
  width: 237px;
  height: 237px;
  border-radius: 50%;
  background-color: black;
}

/* изображение логотипа */
.about__logo-image{
  padding: 61px 44px 62px 45px;
}

/* заголовок секции */
.about__title{
 font-size: 40px;
 font-weight: 700;
 text-transform: uppercase;
 margin-bottom: 100px;
 margin-top: 97px;
}

/* блок для текстов секции */
.about__text{
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: 400;
}

/* подвал */
.footer{
  display: flex;
  justify-content: space-between;
  align-content: start;
}

/* блок навигации по списку ссылок. Мы рекомендуем окружать список тегом <nav> с этим классом */
.footer__menu{
  font-size: 18px;
  text-align: center;
}

/* список пунктов меню */
.footer__menu-list{
  list-style: none;
}

/* пункт списка меню */
.footer__menu-list-item{

}

/* ссылка меню */
.footer__menu-link{
  text-decoration: none;
  border-bottom: 1px solid;
}

/* активная ссылка меню (без подчёркивания) */
.footer__menu-link_active{
  border: none;
}

/* список ссылок на социальные сети. Можно не добавлять тег <nav>, потому что это ссылки на внешние ресурсы */
.footer__social-list{
  list-style: none;
  display: flex;
  gap: 48px;
}

/* пункт списка ссылок на социальные сети */
.footer__social-list-item{}

/*  — ссылка на социальные сети */
.footer__social-link{
  display: block;
  width: 48px;
  height:  48px;
}

/* иконка социальной сети */
.footer__social-icon{
  object-fit: cover;
}